<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #282d32;">
    <li style="float: left;"><a routerLink="/doktor" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Doktor</a></li>
    <li style="float: left;"><a routerLink="/med" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Medicine</a></li>
    <li style="float: left;"><a routerLink="/res" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Reservation</a></li>
    <li style="float: right;"><button (click)="logaut()" class="btn btn-dark" style="display: block; color: white; text-align: center; padding: 14px 16px; background: none; border: none;">Logout</button></li>
</ul>
<router-outlet></router-outlet>